exportPattern("^[[:alpha:]]+")
import(mvtnorm, rlist, Rcpp , dplyr)
importFrom("stats", "cov", "dgamma", "dnorm", "dunif", "dweibull",
               "integrate", "pnorm", "pweibull", "quantile", "rbinom",
               "rgamma", "rnorm", "runif")
importFrom("graphics", "legend", "lines")
useDynLib(BayesMetaPenetrance, .registration = TRUE)
