exportPattern("^[[:alpha:]]+")
import(dplyr, mvtnorm, rlist, Rcpp)
importFrom("stats", "cov", "dgamma", "dnorm", "dunif", "dweibull",
               "integrate", "pnorm", "pweibull", "quantile", "rbinom",
               "rgamma", "rnorm", "runif")
importFrom("graphics", "legend", "lines")
useDynLib(bayesmeta, .registration = TRUE)
